<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./headparts/meta-parts") %>
        <%- include("./headparts/favicon-parts") %>

            <link rel="stylesheet" href="channel.css">
            <script src="owake_rtc_n.js"></script>
            <script src="owake_rtm.js"></script>

            <!-- Jquery -->
            <script src="jquery-3.4.1.min.js"></script>
            <!-- Bootstrap -->
            <script src="bootstrap.bundle.min.js"></script>
            <!-- Socket.io -->
            <script src="/socket.io/socket.io.js"></script>

            <title>Owake</title>

            <%- include("./popup/fileshare") %>
                <%- include("./popup/newuser") %>
                    <%- include("./popup/deviceSettings") %>
                        <%- include("./popup/speechSetting") %>
</head>

<body>
    <div class="header">
        <div class="logo">
            <img class="img__logo" src="logo.svg" alt="">
        </div>
        <div class="nav__container">
            <div id="loginBtn" class="options__button" data-toggle="modal" data-target="#newUserModal">
                <i class="fas fa-sign-in-alt"></i>
                <span>Login</span>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main__left">
            <div class="videos__group">
                <div id="video-grid">
                    <div id="local__video__container">
                        <p id="local-player-name" class="player-name"></p>
                    </div>
                    <div id="remote__video__container">
                        <div id="remote-playerlist"></div>
                    </div>
                </div>
            </div>
            <div class="options">
                <div class="options__left">
                    <div id="muteVideo" class="options__button">
                        <i id="videoIcon" class="fas fa-video"></i>
                        <span>Cam</span>
                    </div>
                    <div id="muteAudio" class="options__button">
                        <i id="audioIcon" class="fa fa-microphone"></i>
                        <span>Mic</span>
                    </div>
                    <div id="showChat" class="options__button">
                        <i class="fa fa-comment"></i>
                        <span>Chat</span>
                    </div>
                    <div id="shareScreen" class="options__button">
                        <i class="fas fa-share-square"></i>
                        <span>Screen</span>
                    </div>
                    <div id="momentShare" class="options__button">
                        <i class="fas fa-brain"></i>
                        <span>Web</span>
                    </div>
                    <div id="whiteBoard" class="options__button">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span>Whiteboard</span>
                    </div>
                    <!-- <div id="speechRecognition" class="options__button" data-toggle="modal"
                        data-target="#speechSetting">
                        <i class="fas fa-headset"></i>
                        <span>spaeechRecognition</span>
                    </div> -->
                    <div class="options__button" id="fileshareBtn" data-toggle="modal" data-target="#fileshareModal">
                        <i class="far fa-folder-open"></i>
                        <span>File</span>
                    </div>
                    <div class="options__button" id="deviceSettingBtn" data-toggle="modal"
                        data-target="#deviceSettingModal">
                        <i class="fas fa-cog"></i>
                        <span>Device</span>
                    </div>
                </div>
                <!-- <div id="speechRecognition" class="options__button">
                    <i class="fas fa-headset"></i>
                </div> -->
                <!-- <div class="options__right">
                    <div id="room__in" class="options__button" data-toggle="modal" data-target="#newUserModal">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Login</span>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="main__right">
            <div class="main__header">
                <!-- <div class="header__back">
                    <i class="fas fa-angle-left"></i>
                </div> -->
            </div>
            <div class="main__chat_window">
                <div class="messages" id="messages"></div>
            </div>
            <div class="main__message_container">
                <input id="chat_message" type="text" autocomplete="off" placeholder="Type message here..."
                    maxlength="100">
                <div id="send" class="options__button">
                    <i class="fas fa-paper-plane" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Script Import -->
<%- include('./jsparts/channel-parts') %>

</html>