<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./headparts/meta-parts") %>
        <%- include("./headparts/favicon-parts") %>


            <script src="owake_rtc_n.js"></script>
            <script src="owake_rtm.js"></script>
            <!-- jquery -->
            <script src="jquery-3.4.1.min.js"></script>
            <!-- Bootstrap -->
            <script src="bootstrap.bundle.min.js"></script>
            <!-- Socket.io -->
            <script src="/socket.io/socket.io.js"></script>
            <!-- axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <title>Owake</title>

            <link rel="stylesheet" href="mainPage.css">
            <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />
            <%- include("./popup/channelPublicCreate") %>
                <%- include("./popup/channelPrivateCreate") %>
                    <%- include("./popup/channelJoin") %>
                        <%- include("./popup/channelPrivateJoin") %>
                            <%- include("./popup/channelPublicJoin") %>
</head>

<body>

    <div class="main-container">

        <div class="nav-container">
            <div class="nav-wrapper">
                <div class="logo">
                    <img src="logo.svg" alt="logo">
                </div>
                <div class="nav-inner-wrapper" id="dashboard">
                    <img src="dashboard.svg" alt="">
                    &nbsp;<p><span>Dashboard</span></p>
                </div>

                <div class="nav-inner-wrapper" id="channelList">
                    <img src="podcasts.svg" alt="">
                    &nbsp;<p><span>Channel</span></p>
                </div>

                <!-- <div class="nav-inner-wrapper" id="newsfeed">
                    <img src="newsfeed.svg" alt="">
                    &nbsp;<p><span>News Feed</span></p>
                </div> -->

            </div>
        </div>
        <div class="body-container">
            <div class="search-bar">
                <input id="searchWord" type="text" placeholder="Search">
                <img id="searchIcon" src="search_icon.svg" alt="search">
            </div>
            <div class="mobile-top-navbar">
                <div class="search-icon">
                    <img id="searchIcon" src="search_icon.svg" alt="search">
                </div>
                <div class="menu-icon">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                            id="mainTopDropMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-reference="parent">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="mainTopDropMenu">
                            <a class="dropdown-item" href="#" data-toggle="modal"
                                data-target="#channelPublicCreate">Public Channel Create</a>
                            <a class="dropdown-item" href="#" data-toggle="modal"
                                data-target="#channelPrivateCreate">Private Channel Create</a>
                            <!-- <a class="dropdown-item" href="#">Create News Feed</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="mobile-category">
                <div class="category-box" id="All">
                    <p>All</p>
                </div>
                <div class="category-box" id="Business">
                    <p>Bu</p>
                </div>
                <div class="category-box" id="Channel">
                    <p>Ch</p>
                </div>
                <!-- <div class="category-box" id="News">
                    <p>News</p>
                </div> -->
            </div>

            <div class="body-container-wrapper">
                <div class="top-body-container">
                    <%- include('./businessList') %>
                </div>
                <div class="middle-body-container">
                    <%- include('./channelList') %>
                </div>
            </div>
        </div>
    </div>
    <script>
        let dashboard = $("#dashboard");
        let channelList = $("#channelList");
        let newsfeed = $("#newsfeed");
        let bodyContainer = $(".body-container-wrapper");

        let middleBodyContainer = $(".middle-body-container");
        let channelBoxContainer = document.querySelector(".channel-box-container");
        let mobileSearchIcon = document.querySelector(".search-icon");

        const mobileTopNavbar = document.querySelector(".mobile-top-navbar");
        const searchInputElement = document.createElement("input");
        let searchActive = false;

        searchInputElement.id = "searchWord";
        searchInputElement.className = "mobileSearchInput"
        searchInputElement.placeholder = "Input Search Channel Name";

        let categoryBoxAll = document.querySelector("#All");
        let categoryBoxBu = document.querySelector("#Business");
        let categoryBoxCh = document.querySelector("#Channel");

        //Mobile Search Events
        mobileSearchIcon.addEventListener("click", (e) => {
            searchActive = !searchActive;
            if (searchActive === true) {
                mobileTopNavbar.append(searchInputElement)
            }
            else {
                mobileTopNavbar.removeChild(searchInputElement);
            }
        })

        $(document).on("keydown", ".mobileSearchInput", (e) => {
            const reqData = {
                channelName: $(".mobileSearchInput").val(),
            };
            if (e.which === 13 && searchInputElement.value.length !== 0) {
                searchResult(reqData);
            }
        });

        // Mobiled Category Click Event
        categoryBoxAll.addEventListener("click", (e) => {
            e.preventDefault();
            while (bodyContainer[0].hasChildNodes()) {
                bodyContainer[0].removeChild(bodyContainer[0].firstChild);
            }
            bodyContainer.load('/all', () => {
                callChannelKronosaList();
                callChannelList();
            });
        })

        categoryBoxBu.addEventListener("click", (e) => {
            e.preventDefault();
            while (bodyContainer[0].hasChildNodes()) {
                bodyContainer[0].removeChild(bodyContainer[0].firstChild);
            }

            bodyContainer.load('/business', () => {
                callChannelKronosaList();
            });
        })

        categoryBoxCh.addEventListener("click", (e) => {
            e.preventDefault();
            while (bodyContainer[0].hasChildNodes()) {
                bodyContainer[0].removeChild(bodyContainer[0].firstChild);
            }
            bodyContainer.load('/channelList', () => {
                callChannelList();
            });
        })
        // Mobiled Category Click Event End

        dashboard.click(() => {
            bodyContainer.load('/all', () => {
                callChannelKronosaList();
                callChannelList();
            });
        })

        channelList.click(() => {
            while (bodyContainer[0].hasChildNodes()) {
                bodyContainer[0].removeChild(bodyContainer[0].firstChild);
            }
            bodyContainer.load('/channelList', () => {
                callChannelList();
            });
        })

        newsfeed.click(() => {
            while (bodyContainer[0].hasChildNodes()) {
                bodyContainer[0].removeChild(bodyContainer[0].firstChild);
            }
            bodyContainer.load('/newsfeed');
        })

    </script>
    <%- include('./jsparts/main-parts') %>

</body>

</html>