<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owake</title>

    <%- include("./headparts/meta-parts") %>
        <%- include("./headparts/favicon-parts") %>

            <link rel="stylesheet" href="mainPage.css">
            <script src="owake_rtc_n.js"></script>
            <script src="owake_rtm.js"></script>
            <!-- jquery -->
            <script src="jquery-3.4.1.min.js"></script>
            <!-- Bootstrap -->
            <script src="bootstrap.bundle.min.js"></script>
            <!-- Socket.io -->
            <script src="/socket.io/socket.io.js"></script>

            <%- include("./popup/channelCreate") %>
                <%- include("./popup/channelJoin") %>
</head>

<body>

    <div class="main-container">
        <div class="top-nav-container">
            <img class="logo" src="logo_black.svg" alt="">
            <div class="search-options">
                <input type="text">&nbsp;<i class="fas fa-search"></i>
            </div>
        </div>

        <div class="inner-container">
            <div class="left-nav-container">
                <%- include('./container/leftnavBar')%>
            </div>
            <div class="body-container">
                <%- include('./container/bodyContainer') %>
            </div>
        </div>
    </div>

    <script src="rtcClient.js"></script>
    <script src="channelCreate.js"></script>
    <script>
        const bodyContainer = document.querySelector(".body-container");
        const channelBox = document.querySelector(".channel-box");

        let bodyContainerWidth = bodyContainer.offsetWidth;
        let bodyContainerHeight = bodyContainer.offsetHeight;

        let resultWidth = bodyContainerWidth / 4;
        let resultHeight = bodyContainerHeight / 4;

        channelBox.style.width = resultWidth;
        channelBox.style.height = resultHeight;

    </script>
</body>

</html>