<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./headparts/meta-parts") %>
        <%- include("./headparts/favicon-parts") %>

            <!-- jquery -->
            <script type="text/javascript" src="jquery-3.4.1.min.js"></script>
            <!-- Bootstrap -->
            <script type="text/javascript" src="bootstrap.bundle.min.js"></script>
            <!-- axios -->
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <!-- compressorjs -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/compressorjs/1.1.1/compressor.min.js"></script>

            <link rel="stylesheet" href="mainpage.css">
            <title>Owake</title>

            <%- include("./popup/channelPublicCreate") %>
                <%- include("./popup/channelPrivateCreate") %>
                    <%- include("./popup/channelPrivateJoin") %>
                        <%- include("./popup/channelPublicJoin") %>
                            <%- include("./popup/channelUpdate") %>
                                <%- include("./popup/channelDelete") %>
                                    <%- include("./popup/channelJoin") %>
                                        <%- include("./popup/spinnerModal") %>

</head>

<body>
    <div class="channel-container">
        <!-- Left Container -->
        <%- include("./container/left") %>
            <!-- Body -->
            <%- include("./container/body") %>
    </div>


    <%- include('./jsparts/main-parts') %>
</body>

</html>